<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Projects</title>
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-primary"> <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02"
            aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"> <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'index' %}">Logout</a> </li>
            </ul>
            <form class="form-inline my-2 my-md-0"> </form>
        </div>
    </nav>
    <br/>
    <div class="container justify-content-center col-md-4">
        <a type="button" href="{% url 'newProject' %}" class="btn btn-primary btn-lg btn-block">New Project</a>
    </div>
    {% if list %}
        <ul>
            {% for cada in list %}
                <li> {{cada.name}} </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> Does not have projects </p>
    {% endif %}

</body>

</html>
