<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Questions</title>
</head>

<body>
  <nav class="navbar navbar-expand navbar-dark bg-primary"> <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false"
      aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"> <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'index' %}">Logout</a> </li>
      </ul>
      <form class="form-inline my-2 my-md-0"> </form>
    </div>
  </nav>
  <br />
  <div class="form-group">
    <label class="col-md-8 control-label" for="oneQuestion">Quero saber se o projeto está atingindo os prazos de entrega? <h11>*</h11></label>
    <div class="col-md-8">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="oneQuestionY" value="opcao1">
        <label class="form-check-label" for="oneQuestion">Sim</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="oneQuestionN" value="opcao2">
        <label class="form-check-label" for="oneQuestion">Não</label>
      </div>
    </div>
</div>
<div class="form-group">
  <label class="col-md-8 control-label" for="description">Quero saber se as atividades críticas estão sendo entregues no prazo? <h11>*</h11></label>
  <div class="col-md-8">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="secQuestionY" value="opcao1">
      <label class="form-check-label" for="inlineRadio1">Sim</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="secQuestionN" value="opcao2">
      <label class="form-check-label" for="inlineRadio2">Não</label>
    </div>
  </div>
</div>


<div class="form-group">
  <label class="col-md-8 control-label" for="description">Quero saber se as entregas estão acontecendo de forma sustentável e incremental? <h11>*</h11></label>
  <div class="col-md-8">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
      <label class="form-check-label" for="inlineRadio1">Sim</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
      <label class="form-check-label" for="inlineRadio2">Não</label>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-8 control-label" for="description">Quero saber se o esforço realizado pela equipe é condizente com o planejado? <h11>*</h11></label>
  <div class="col-md-8">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
      <label class="form-check-label" for="inlineRadio1">Sim</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
      <label class="form-check-label" for="inlineRadio2">Não</label>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-8 control-label" for="description">Quero saber se o escopo do projeto é claro, para que a equipe possa desempenhar suas atividades? <h11>*</h11></label>
  <div class="col-md-8">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
      <label class="form-check-label" for="inlineRadio1">Sim</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
      <label class="form-check-label" for="inlineRadio2">Não</label>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-8 control-label" for="description">Quero saber se o cliente permanece engajado e satisfeito ao longo do projeto? <h11>*</h11></label>
  <div class="col-md-8">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
      <label class="form-check-label" for="inlineRadio1">Sim</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
      <label class="form-check-label" for="inlineRadio2">Não</label>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-8 control-label" for="description">Quero saber se os gastos do projeto estão indo ao encontro do orçamento e cronograma estimados? <h11>*</h11></label>
  <div class="col-md-8">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
      <label class="form-check-label" for="inlineRadio1">Sim</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
      <label class="form-check-label" for="inlineRadio2">Não</label>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-8 control-label" for="description">Quero saber se as mudanças no tamanho do produto e interface estão sob controle? <h11>*</h11></label>
  <div class="col-md-8">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
      <label class="form-check-label" for="inlineRadio1">Sim</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
      <label class="form-check-label" for="inlineRadio2">Não</label>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-8 control-label" for="description">Quero saber se os processos são eficientes o suficiente para ir ao encontro dos compromissos e objetivos planejados? <h11>*</h11></label>
  <div class="col-md-8">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
      <label class="form-check-label" for="inlineRadio1">Sim</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
      <label class="form-check-label" for="inlineRadio2">Não</label>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-8 control-label" for="description">QQuero saber se o projeto está bom o suficiente para ser entregue ao cliente? Os problemas identificados estão sendo resolvidos? <h11>*</h11></label>
  <div class="col-md-8">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
      <label class="form-check-label" for="inlineRadio1">Sim</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
      <label class="form-check-label" for="inlineRadio2">Não</label>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label" for="Cadastrar"></label>
  <div class="col-md-8">
      <button id="Cadastrar" name="Cadastrar" class="btn btn-success"
          type="submit">Register</button>
      <a href="{% url 'login' %}" id="Cancelar" name="Cancelar" class="btn btn-danger" type="Reset">Cancel</a>
  </div>
</div>
</body>

</html>